*, *::before,*::after {
  box-sizing: border-box;
}
body{
  font-family: 'regular','Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
img,
video,
iframe {
  display: block;
  max-width: 100%;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
ol, ul {
  list-style: none;
}